@{
    ViewData["Title"] = "Создать заказ";
}
@using static BCrypt.Net.BCrypt
@using BCrypt.Net
@model UserViewModel;


<div class="text-center">
    <h1 class="display-4">Создание заказа</h1>

    @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
    {
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        @Html.LabelFor(m => m.Email)
        <br />
        @Html.DisplayFor(m => m.Email)
        @Html.HiddenFor(m => m.Email)
        <br /><br />
        
        @Html.LabelFor(m => m.FirstName)
        <br />
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
        <br /><br />
              
        @Html.LabelFor(m => m.LastName)
        <br />
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
        <br /><br />
        
        @Html.LabelFor(m => m.Tel)
        <br />
        @Html.EditorFor(m => m.Tel)
        @Html.ValidationMessageFor(m => m.Tel)
        <br /><br />
        

        <input type="submit" value="Сохранить"/>

    }
</div>