@{
    ViewData["Title"] = "Manage";
}
@using static BCrypt.Net.BCrypt
@using BCrypt.Net
@model LoginViewModel;

<div class="text-center">
    <h1 class="display-4">Manage your account</h1>
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
    {
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        @Html.LabelFor(m => m.Password)
        <br />
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <br /><br />
              
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.EditorFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <br /><br />

        <input type="submit" value="Sign In"/>

    }
</div>