@using Microsoft.EntityFrameworkCore
@model OrderViewModel

@{
    ViewData["Title"] = "Новый заказ";
}


<div class="anchor block_flex_column justify-content-center" style="background-image: url('../static-pic/photos/webpic.png'); background-size: cover;">
    <div class="main__content element_background_secondary-normal element_border-radius_smooth block_scroll_enable block_scrollbar_hide">
        <div class="card__item block_padding_none block_align_center">
            <h5 class="title-top element_background_secondary block_padding_normal">@Model.ChosenService.ServiceName</h5>
        </div>
        
        <div class="main__content order__form block_margin_none block_padding_none p">
            @using (Html.BeginForm("NewOrder", "Account", FormMethod.Post, new {id="order-form", @class="p-5"}))
            {
                <div class="validation invalid-feedback visible" asp-validation-summary="ModelOnly"></div>
                <div class="block_flex_row justify-content-center block_column-gap_small">
                    @{ UserViewModel authorFirst = null; }
                    <div class="input-group mb-3">
                        <label class="input-group-text element_border_none site_theme_reversed">Автор</label>
                        <select asp-for="FirstDesignerId" required oninvalid="requiredField(this)" class="form-select site_theme_primary element_border-radius_normal element_border_none">
                            @if (Model.FirstDesigner != null)
                            {
                                authorFirst = Model.FirstDesigner;
                                var fullName = authorFirst.LastName + " " + authorFirst.FirstName;
                                <option selected value="@authorFirst.userId">@fullName</option>
                            }
                            else
                            {
                                <option value="">Не выбрано (обязательно)</option>
                            }
                            @foreach (var designer in Model.AllDesigners)
                            {
                                if (authorFirst == null || designer.userId != authorFirst.userId)
                                {
                                    var fullName = designer.LastName + " " + designer.FirstName;
                                    <option value="@designer.userId">@fullName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text element_border_none site_theme_reversed">Автор</label>
                        <select asp-for="SecondDesignerId" class="form-select site_theme_primary element_border-radius_normal element_border_none">
                            @{ UserViewModel authorSecond = null;}
                            @if (Model.SecondDesigner != null)
                            {
                                authorSecond = Model.SecondDesigner;
                                var fullName = authorSecond.LastName + " " + authorSecond.FirstName;
                                <option selected value="@authorSecond.userId">@fullName</option>
                            }
                            else
                            {
                                <option value="" selected>Не выбрано (опционально)</option>
                            }
                            @foreach (var designer in Model.AllDesigners)
                            {
                                if ((authorFirst == null || designer.userId != authorFirst.userId)
                                    && (authorSecond == null || designer.userId != authorSecond.userId))
                                {
                                    var fullName = designer.LastName + " " + designer.FirstName;
                                    <option value="@designer.userId">@fullName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4 text-left w-100 mb-3">
                    <label asp-for="Description" class="form-label">Комментарий</label>
                    <textarea asp-for="Description" class="desc-input resize-ta form-control site_theme_primary element_border_primary" placeholder="Напишите Ваши пожелания по заказу..."></textarea>
                </div>
                <div class="main__content -side-p-65 site_theme_reversed block_margin_none block_flex_column justify-content-center">
                    <p class="description block_padding_normal">
                        @Model.ChosenService.ServiceDescription
                    </p>
                    <p class="description block_padding_normal">
                        После оформления наши менеджеры свяжутся
                        с Вами для подтверждения и оплаты заказы, а также уточнения деталей и сроков выполнения.
                    </p>
                    <h3 class="block_align_center element_border-radius_smoother block_padding_low block_padding-side_normal site_theme_primary">@Model.ChosenService.DefaultPrice $</h3>
                </div>
                {
                    Model.ChosenServiceId = Model.ChosenService.ServiceId;
                }
                @Html.HiddenFor(m => m.ChosenServiceId)
                @Html.HiddenFor(m => m.ChosenService)
                @Html.HiddenFor(m => m.FirstDesigner)
                @Html.HiddenFor(m => m.SecondDesigner)
                @Html.HiddenFor(m => m.AllDesigners)
                <div class="block_flex_row justify-content-center align-items-center">
                    <div class="block_flex_column justify-content-end block_padding_normal">
                        <input form="order-form" type="submit" value="Заказать" class="card-title btn btn-secondary btn-lg element_border-radius_smooth block_align_right text_theme_thin"/>
                    </div>
                    <div class="block_flex_column justify-content-end block_padding_normal">
                        <button form="order-form" type="reset" onclick="history.back()" class="card-title btn btn-outline-primary btn-lg element_border-radius_smooth block_align_right text_theme_thin">Отмена</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>