@{
    ViewData["Title"] = "Восстановление пароля";
}
@using Org.BouncyCastle.Asn1.Ocsp
@model PasswordChangeViewModel

<div class="anchor">
    <div class="main__content text-center">
        <h1 class="display-4">Восстановление пароля</h1>
        @if ((bool)ViewData["Post"])
        {
            <span>@ViewData["Text"]</span>
        }
        else
        {
            <span>Придумайте новый пароль</span>
            @using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post))
            {
                <div class="block_flex_column align-items-center">
                    <br/>
                    @Html.DisplayFor(m => m.Email)
                    @Html.HiddenFor(m => m.Email)
                    <div class="col-md-4 text-left">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="user-info form-control site_theme_primary element_border_primary" placeholder="••••••••">
                        <div id="passwordAlert" class="invalid-feedback visible">
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="col-md-4 text-left">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="user-info form-control site_theme_primary element_border_primary" placeholder="">
                        <div id="passwordAlert" class="invalid-feedback visible">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>

                <input type="submit" value="Изменить пароль" class="btn btn-fill-secondary block_margin-top_small"/>
            }
        }
    </div>
</div>
