@{
    ViewData["Title"] = "Sign up";
}
@using static BCrypt.Net.BCrypt
@using BCrypt.Net
@model UserViewModel;

<div class="text-center">
    <h1 class="display-4">Sign up now!</h1>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        <br /><br />
        
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <br /><br />
              
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.EditorFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <br /><br />

        @Html.LabelFor(m => m.FirstName)
        <br />
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
        <br /><br />
              
        @Html.LabelFor(m => m.LastName)
        <br />
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
        <br /><br />
              
        @Html.LabelFor(m => m.Tel)
        <br />
        @Html.EditorFor(m => m.Tel)
        @Html.ValidationMessageFor(m => m.Tel)
        <br /><br />

        <input type="submit" value="Sign Up"/>

    }
</div>