@{
    ViewData["Title"] = "Регистрация";
}
@using static BCrypt.Net.BCrypt
@using BCrypt.Net
@model RegisterViewModel;

<div class="anchor block_flex_column">
    <div class="main__content text-center block_scroll_enable block_scrollbar_hide">
        <h1 class="display-4 block_margin-bottom_small">Регистрация</h1>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="block_flex_row block_column-gap_small justify-content-center block_margin-bottom_small">
               <div class="input-group mb-3 w-50">
                   <label asp-for="Email" class="input-group-text element_border_none site_theme_reversed"></label>
                   <input asp-for="Email" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
               </div>
               <div id="passwordAlert" class="site_theme_alert element_border-radius_smooth mb-3">
                   @Html.ValidationMessageFor(m => m.Email)
               </div> 
            </div>
            <div class="block_flex_row block_column-gap_small justify-content-center block_margin-bottom_small">
                <div class="input-group mb-3 w-50">
                    <label asp-for="Password" class="input-group-text element_border_none site_theme_reversed"></label>
                    <input asp-for="Password" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
                </div>
                <div id="passwordAlert" class="site_theme_alert element_border-radius_smooth mb-3">
                    @Html.ValidationMessageFor(m => m.Password)
                </div> 
            </div>
            <div class="block_flex_row block_column-gap_small justify-content-center block_margin-bottom_small">
                <div class="input-group mb-3 w-50">
                    <label asp-for="ConfirmPassword" class="input-group-text element_border_none site_theme_reversed"></label>
                    <input asp-for="ConfirmPassword" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
                </div>
                <div id="passwordAlert" class="site_theme_alert element_border-radius_smooth mb-3">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div> 
            </div>
            <div class="block_flex_row block_column-gap_small justify-content-center block_margin-bottom_small">
                <div class="input-group mb-3 w-50">
                    <label asp-for="FirstName" class="input-group-text element_border_none site_theme_reversed"></label>
                    <input asp-for="FirstName" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
                </div>
                <div id="passwordAlert" class="site_theme_alert element_border-radius_smooth mb-3">
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div> 
            </div>
            <div class="block_flex_row block_column-gap_small justify-content-center block_margin-bottom_small">
                <div class="input-group mb-3 w-50">
                    <label asp-for="LastName" class="input-group-text element_border_none site_theme_reversed"></label>
                    <input asp-for="LastName" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
                </div>
                <div id="passwordAlert" class="site_theme_alert element_border-radius_smooth mb-3">
                    @Html.ValidationMessageFor(m => m.LastName)
                </div> 
            </div>
            <div class="block_flex_row block_column-gap_small justify-content-center block_margin-bottom_small">
                <div class="input-group mb-3 w-50">
                    <label asp-for="Tel" class="input-group-text element_border_none site_theme_reversed"></label>
                    <input asp-for="Tel" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
                </div>
                <div id="passwordAlert" class="site_theme_alert element_border-radius_smooth mb-3">
                    @Html.ValidationMessageFor(m => m.Tel)
                </div> 
            </div>
    
            <input type="submit" value="Зарегистрироваться" class="btn btn-fill-secondary block_margin-top_small"/>
    
        }
    </div>
</div>